.container-mock{
    padding: 10px 300px 50px 300px;
}

.input-group button{
    margin-left: 5px;
}

.input-group span{
    margin-right: 5px;
    margin-left: 5px;
}



.input-group-mock{
    margin: 0 auto 0 auto;
}

.input-group a{
    margin-left: 5px;
}

.card-header button{
    margin-top: 5px;
}

#upload-photo{
    opacity: 0;
    position: absolute;
    z-index: -1;
}



